.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/
.venv
*.egg-info/
dist/
build/
*.log
.DS_Store
.vscode/
.idea/
.env*
/frontend/lqx/node_modules
/frontend/lqx/.next
/frontend/lqx/coverage
/frontend/lqx/next-env.d.ts
/frontend/lqx/tsconfig.tsbuildinfo
/frontend/lqx/next.config.js
/frontend/lqx/.env
